.background {
    background-image: url(https://i.postimg.cc/hv7dVNHT/table-2777180.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image{
    max-width: 312px;
    max-height: 231px;
    border-radius: 15px;
    opacity: 90%;
}

.title{
    color: white;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 40px;
}

.titles{
    font-size: 20px;
    color:white;
    margin-bottom: 5px;
    font-family: "Oswald", sans-serif;
}

.text {
    font-size: 20px;
    color:white;
    margin-bottom: 5px;
    font-family: "Oswald", sans-serif;
    max-width: fit-content;
    text-align: center;
}

.txt {
    font-size: 20px;
    color:white;
    margin-bottom: 5px;
    font-family: "Oswald", sans-serif;
    text-transform: capitalize;
}

.diets {
    font-size: 20px;
    color:white;
    margin-bottom: 5px;
    font-family: "Oswald", sans-serif;
    text-transform: capitalize;
}

.button {
    color: burlywood;
    cursor: pointer;
    outline: none;
    margin: 12px 0px;
    padding: 10px 21px;
    border: 2px solid burlywood;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
}

.button:hover {
    opacity: 0.5;
    color: gray;
    background: #fff;
}

