body {
    background: url(https://i.postimg.cc/HkdbLsjV/vegetables-3193196.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container {
    color: yellow;
    position: absolute;
    top: 5%;
    left: 32%;
    text-align: center;
}

.container h1 {
    font-size: 40px;
    border-bottom: 5px solid #fff;
    margin-bottom: 15px;
}

.box {
    width: 100%;
    margin: 22px 0px;
    border-bottom: 2px solid #fff;
}

.box input {
    background: none;
    width: 75%;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline: none;
    color: #fff;
}

.btnCr {
    color: #fff;
    cursor: pointer;
    outline: none;
    margin: 12px 0px;
    padding: 10px 21px;
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
}

.btnCr:hover {
    opacity: 0.5;
    color: gray;
    background: #fff;
}

.btnVol {
    color: #fff;
    cursor: pointer;
    outline: none;
    margin: 12px 0px;
    padding: 10px 21px;
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
}

.btnVol:hover {
    opacity: 0.5;
    color: gray;
    background: #fff;
}

.err {
    color: red;
    font-size: 18px;
    -webkit-text-stroke: 0.5px black;
}

.buttonDelete {
    float: right;
    background-color: transparent;
    border: 2px solid #47444a;
    border-radius: 15px;
    box-sizing: border-box;
    color: #d3c9f8;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    outline: none;
    padding: 0 10px;
    text-align: center;
    text-indent:none;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 30px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    opacity:none;
}

.buttonDelete:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
    
.buttonDelete:active {
    box-shadow: none;
    transform: translateY(0);
}  