.background {
    background: url(https://i.postimg.cc/HkdbLsjV/vegetables-3193196.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position:fixed;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.container {
    color: burlywood;
    font-size: 20px;
    position: absolute;
    top: 70px;
    text-align: center;
}

.title {
    color: burlywood;
    font-size: 40px;
    margin-top: 5px;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.box {
    width: 100%;
    margin: 22px 0px;
    border-bottom: 2px solid #fff;
}

.box input {
    background: none;
    text-align: center;
    width: 75%;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline: none;
    color: #fff;
}

.btnCrear {
    color: burlywood;
    cursor: pointer;
    outline: none;
    margin: 12px 0px;
    padding: 10px 21px;
    border: 2px solid burlywood;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
}

.btnCrear:hover {
    opacity: 0.5;
    color: gray;
    background: #fff;
}

.btnVol {
    color: burlywood;
    cursor: pointer;
    outline: none;
    margin: 12px 0px;
    padding: 10px 21px;
    border: 2px solid burlywood;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
}

.btnVol:hover {
    opacity: 0.5;
    color: gray;
    background: #fff;
}

.err {
    color: red;
    font-size: 18px;
    -webkit-text-stroke: 0.5px black;
}

.containerDelete {
    font-size: 20px;
    position: absolute;
    top: 500px;
    text-align: center;
}

.buttonDelete {
    background-color: red;
    color: white;
}

.dietDelete{
    text-transform: capitalize;
    background-color:yellow;
    border-radius: 5px;
    padding: 0.8px;
    box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.55);    
    font-family: 'Bahnschrift SemiCondensed';
    display: inline-block;
    flex-direction: row;
}

.select{
    background: burlywood;
    text-transform: capitalize;
    cursor: pointer;
    display:inline-block;
    justify-content: center;
    text-align: center;
    font-family: 'Bahnschrift SemiCondensed';
    font-size: 18px;
    color: black;
    padding: 3px;
    border-radius: 4px;
    border-style: groove;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;

}

li {
    list-style-type: none;
    text-transform: capitalize
}